Flask== 1.1.2
numpy==1.20.3
numpydoc==1.1.0
scikit-image==0.18.3
scikit-learn==0.24.2
gunicorn==20.1.0
appdirs==1.4.4
argh==0.26.2
atomicwrites==1.4.0
autobahn==22.12.1
Automat==22.10.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
boto==2.49.0
brotlipy==0.7.0
certifi==2021.10.8
click==8.0.3
clyent==1.2.2
comtypes==1.1.10
conda==4.10.3
conda-verify==3.4.2
constantly==15.1.0
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.3.0
dash==2.8.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2021.10.0
distlib==0.3.6
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.9.0
fonttools==4.25.0
gunicorn==20.1.0
hyperlink==21.0.0
incremental==22.10.0
inflection==0.5.1
llvmlite==0.37.0
locket==0.2.1
mccabe==0.6.1
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
nltk==3.6.5
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==8.4.0
pkginfo==1.7.1
platformdirs==2.6.2
plotly==5.13.0
ply==3.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
pyls-spyder==0.4.0
pyodbc===4.0.0-unsupported
pyreadline==2.1
pytest==6.2.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
pywin32==228
PyYAML==6.0
scikit-image==0.18.3
service-identity==21.1.0
urllib3==1.26.7
virtualenv==20.17.1
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
xlwings==0.24.9
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0
